<div class="principal" *ngIf="currentQuestion">
    <div class="content">
        <div class="row">
            <div class="row title">     
                <span>¿Cuanto sabes de Colombia?</span>
            </div>
        </div>        
        <div class="row">
            <div class="col-12 question">
                <span>{{currentQuestion.questionStatement}}</span>          
            </div>        
        </div>
        <br>        
        <div class="row options">
            <div class="row">
                <div class="col-3">
                    <button mat-raised-button (click)="validateAnswer('1',currentQuestion.answer)">{{currentQuestion.optionOne}}</button>            
                </div>
                <div class="col-3">
                    <button mat-raised-button (click)="validateAnswer('2',currentQuestion.answer)">{{currentQuestion.optionTwo}}</button>            
                </div>
                <div class="col-3">
                    <button mat-raised-button  (click)="validateAnswer('3',currentQuestion.answer)">{{currentQuestion.optionThree}}</button>            
                </div>
                <div class="col-3">
                    <button mat-raised-button  (click)="validateAnswer('4',currentQuestion.answer)">{{currentQuestion.optionFour}}</button>
                </div>
            </div>
        </div>
        <div class="row board">
            <div class="col-3">
                <div class="row">
                    <div class="col-4 category" *ngIf="currentCategory">
                        <h3 class="index">CATEGORIA:</h3>
                        <h2>{{currentCategory.categoryName}}</h2>
                    </div>
                    <div class="col-4 index">                        
                        <h3>Pregunta {{indexQuestion + 1}}/6</h3>
                    </div>
                    <div class="col-4 index" *ngIf="award">
                        <h3>Si respondes correctamente ganas:</h3>
                        <h2>{{ award.awardValue | currency }}</h2>
                    </div>     
                   
                </div>   
                
            </div>
        </div>
    </div>                   
</div>